.Header {
  background-image: linear-gradient(to right, #fff0cc, transparent 50%),
    linear-gradient(to left, #fff0cc, transparent 50%);
  display: flex;
  justify-content: center;
  text-align: center;
}

.Header img {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 200px;
  padding-top: 20px;
}

.main-bienvenida {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  gap: 10px;
  margin-bottom: 20px;
}

.main-bienvenida h1 {
  font-size: 80px;
  font-weight: 500;
}
